.container{
    position: relative;
    left:50%;
    overflow: hidden;
    transform: translate(-50%,0);
}
.bookWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .book {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  .sectionWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .join{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
    gap:48px;
  }
  .join a:hover{
    color:var(--color-accent);
  }
  .welcome{
    font-size: 2rem;
    display: grid;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 12px;
    color:var(--color-primary)
  }

  .newestBooks{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }