  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
  }
  
  h1 {
    font-size: 5rem;
    color: #002B59;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 2rem;
    color: #002B59;
    margin-bottom: 40px;
  }
  
  .btn {
    display: inline-block;
    padding: 16px 40px;
    background-color: #002B59;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #fff;
    color: #002B59;
    border: 2px solid #002B59;
  }
  
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 4rem;
    }
    
    p {
      font-size: 1.5rem;
    }
    
    .btn {
      font-size: 1.2rem;
    }
  }
  