
.bookDetailsContainer{
  position: relative;
  left: 50%;
  /* transform: translate(-50%); */
  width: 1200px;
  min-height: 800px;
  top:100px;
  left: 250px;
  display: flex;
  flex-direction: column;
  flex-grow: 1 2;

}

.bookContainer{ 
    width: 100%;
    display: flex;
    gap: 86px;
    padding-bottom: 48px;
    background-color: white;
    border-radius: 12px;
}

.bookContainer img{
 max-width: 400px;
 object-fit: cover;
 border-radius: 12px;
}

.bookDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.isAuthenticatedButtons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 64px;
}
.isAuthenticatedButtons button{
    background-color: var(--color-accent);
    border:none;
    border-radius: 12px;
    padding: 24px 36px;
    color:white;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
}
.buttons button:hover{
    opacity: 1;
}

.isOwnerButtons{
    width: 90%;
    display: flex;
    justify-content: end;
    gap:24px;
}

.isOwnerButtons button, .isOwnerButtons a{
    background-color: var(--color-secondary);
    border:none;
    border-radius: 12px;
    padding: 12px 24px;
    color:white;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
}

.addedToFavorites{
    background-color: green!important;
}

.noteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 48px;
  }
  
  .noteContainer h2 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  
  .noteContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .noteContainer .note {
    margin: 8px;
    padding: 16px;
    background-color: var(--color-secondary);
    color: white;
    border-radius: 8px;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .noteContainer .note p {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .noteContainer .note .noteAuthor {
    font-weight: bold;
  }
  
  .noteContainer .noNotes {
    font-size: 1.2rem;
    margin-top: 16px;
  }
  