
.bookDetailsContainer{
  position: relative;
  left: 50%;
  /* transform: translate(-50%); */
  width: 1200px;
  min-height: 800px;
  top:300px;
  left: 250px;
  display: flex;
  flex-direction: column;
  flex-grow: 1 2;

}

.bookContainer{ 
    width: 100%;
    display: flex;
    gap: 86px;
    padding-bottom: 48px;
    background-color: white;
    border-radius: 12px;
}

.bookContainer img{
 max-width: 400px;
 object-fit: cover;
 border-radius: 12px;
}

.bookDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.isAuthenticatedButtons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 64px;
}
.isAuthenticatedButtons button{
    background-color: var(--color-accent);
    border:none;
    border-radius: 12px;
    padding: 24px 36px;
    color:white;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
}
.buttons button:hover{
    opacity: 1;
}

.isOwnerButtons{
    width: 90%;
    display: flex;
    justify-content: end;
    gap:24px;
}

.isOwnerButtons button, .isOwnerButtons a{
    background-color: var(--color-secondary);
    border:none;
    border-radius: 12px;
    padding: 12px 24px;
    color:white;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
}

.addedToFavorites{
    background-color: green;
}