.messageBox {
    position:absolute;
    top: 50px;
    right: 50px;
    width: 500px;
    background-color: #228015;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
    padding: 10px;
    animation: messageView 5s ease-in-out;
  
  }
  
  .messageBox:before {
    content: '';
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;
  }
  

  @keyframes messageView {
   0%{ 
    transform: translate(0, 0);
   }
   50%{
    transform: translate(0, 500px);
   }
   100%{
    transform: translate(0, 0);
   }
  }
