.headerImg{
    position: absolute;
    z-index: -999;
    width: 100%;
    object-fit: cover;
    transform: translate(0px, -20px);
}

.headerSection{
    margin:12px 25px;
    color: white;
    display: flex;
    justify-content: space-between;

}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    position: relative;
    z-index: 5;
    cursor: pointer;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.change::before, .profOn::before{
    content:"";
    background-color: rgba(0, 0, 0, 0.5);
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.notActive{
    display: none;
}
.isActive{
    height: 100%;
    width: 30%;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: navMenu 0.2s linear;    
}

.isProfileNavigationOpen{
    height: 100%;
    width: 30%;
    position: absolute;
    top:0;
    right:0;
    z-index: 2;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: navMenu 0.2s linear;    
}
.isActive a, .isProfileNavigationOpen a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.profileIcon{
    cursor: pointer;
    font-size: 2rem;
    margin:6px 0;
    position: relative;
    z-index: 4;
}
.welcome {
    text-align: center;
    color: white;
    margin-top: 24px;
}


.welcome_title {
    font-size: 6rem;
    color: white;
}
.welcome_subtitle {
    font-size: 0.85rem;
    color: white;
}


@keyframes navMenu {
    from{
        width:0%
    }
    to{
        width: 30%;
    }
}