@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.loginSection{
    position:relative;
    width: 600px;
    height:800px;
    top:400px;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 1);
}
.loginformInput h1{
    font-family: 'Indie Flower', cursive;
    color: #002B59;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 22px;
}

.brandLogoImg{
    width: 100px;
}

.loginformInput{
    font-family: 'Indie Flower', cursive;
    color: #002B59;
    width: 50%;
    height: 100%;
    position: absolute;
    top:10%;
    left: 100px;
    display: flex;
    flex-direction: column;
    gap:22px;
}
.loginformInput input{
    font-size:2rem;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
}
.loginBtn{
    margin: 22px 0;
    cursor: pointer;
    transition: background-color 0.5s ease, color .5s ease;
}
.loginBtn:hover{
    color: #002B59;
    background-color: rgba(0, 0, 0, 0.4);
}
.field span{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    color: #002B59;
}
.field a:hover{
    border-bottom:2px solid #002B59
}